:root {
  --background-color: rgb(243, 242, 247);
  --primary-color: rgb(228, 55, 84);
  --second-color: rgb(136, 132, 183);
}
body {
  background-color: var(--background-color);
}
.app-music {
  z-index: 0;
  position: relative;
}

.heading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  color: var(--primary-color);
}
.heading__left {
}
.heading__left span {
  display: block;
  text-align: center;
}
.heading__center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 1.2;
}
.heading__center-music-label-name {
  font-size: 0.625rem;
}
.heading__center-music-name {
  color: #000;
  font-size: 1.25rem;
}
.heading__right {
}
.heading__right span {
  display: block;
  text-align: center;
}

.wapper-audio {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid rgb(236, 234, 234);
  box-shadow: 0 2px 5px 1px rgb(233, 228, 228);
}
.wapper-audio__img-music {
  width: 100%;
  height: 200px;
  margin: 20px 0;
}
.wapper-audio__img-music-src {
  width: 100%;
  height: 100%;
  /* background-image: url("../img/picNowPlaying.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid rgb(207, 206, 206);
  box-shadow: 0 0 10px 2px var(--primary-color);
}
.wapper-audio__control-music {
  color: var(--second-color);
  margin-bottom: 20px;
}
.wapper-audio__control-music-replay span,
.wapper-audio__control-music-previous span,
.wapper-audio__control-music-play span,
.wapper-audio__control-music-pause span,
.wapper-audio__control-music-next span,
.wapper-audio__control-music-shuffle span {
  display: block;
  text-align: center;
  font-size: 1.5625rem;
}
.wapper-audio__control-music-replay {
}
.wapper-audio__control-music-previous {
}
.wapper-audio__control-music-play span,
.wapper-audio__control-music-pause span {
  color: var(--primary-color);
  font-size: 70px;
}
.wapper-audio__control-music-play {
}
.wapper-audio__control-music-pause {
}
.wapper-audio__control-music-next {
}
.wapper-audio__control-music-shuffle {
}
.wapper-audio__progress-bar {
  position: relative;
  margin-bottom: 30px;
}
.wapper-audio__progress-bar-bg {
  background-color: rgb(245, 180, 189);
  height: 2px;
  border-radius: 3px;
}
.wapper-audio__progress-bar-percent {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 6%;
  width: 88%;
  height: 100%;
  background-color: var(--primary-color);
  border-radius: 3px;
}
.wapper-audio__progress-bar-circle {
  z-index: 1;
  position: absolute;
  top: -4px;
  left: 6%;
  width: 10px;
  height: 10px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.display__count-song {
  position: absolute;
  top: calc(100% - 10px);
  left: calc(50% - 25px);
  padding: 0 10px;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid rgb(236, 233, 233);
}
.display__count-current-song,
.display__count-operator-song,
.display__count-total-song {
  color: var(--second-color);
  font-size: 0.75rem;
}
.display__count-operator-song {
}
.display__count-total-song {
  color: var(--primary-color);
}

.wapper-playlist {
  background-color: var(--background-color);
  margin-top: 410px;
  padding-top: 30px;
}
.wapper-playlist__music-item.active {
  box-shadow: 0 2px 3px 2px var(--primary-color);
}
.wapper-playlist__music-item {
  background-color: #fff;
  list-style: none;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 1px solid rgb(235, 231, 231);
  border-radius: 5px;
  box-shadow: 0 2px 3px 1px rgb(230, 229, 229);
}
.wapper-playlist__music-item-img {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.wapper-playlist__music-item-img-src {
  width: 60%;
  height: 100%;
  /* background-image: url("../img/picNowPlaying.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  border: 1px solid rgb(207, 206, 206);
}
.wapper-playlist__music-item-centent {
  display: flex;
  flex-direction: column;
}
.wapper-playlist__music-item-content-name,
.wapper-playlist__music-item-content-singer {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wapper-playlist__music-item-content-name {
  font-weight: 600;
}
.wapper-playlist__music-item-content-singer {
  color: var(--second-color);
  font-size: 0.75rem;
}
.wapper-playlist__music-item-option {
}
.wapper-playlist__music-item-option span {
  color: var(--second-color);
  display: block;
}

.footer {
}
